@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@150;500;700&display=swap');

:root {
    /*Color variables*/
    --dark-blue: #1f2235;
    --red: #DB1F48;
    --red-secondary: #ff4A47;
    --teal: #01767a;
    --sandy-dollar: #E5DDC8;
    --white: #ffffff;
}

::selection{
    color: var(--sandy-dollar);
    background-color: var(--teal);
}

* {
    /*Reset page configs*/
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}

body{
    background-color: var(--dark-blue);
    color: var(--white);
    letter-spacing: .5;
    max-width: 70%;
    overflow-x: hidden;
    margin: auto;
}

/*Nav*/
.fa.fa-bars{
    display: none;
}

.nav-items{
    height: 5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 2rem;
    padding: 0px 10px 0px 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position:fixed;
    top: 0rem;
    margin-top: 0px;
    background-color: var(--dark-blue);
    width: 70%;
}

.logo {
    color: var(--red);
    font-size: 32px;
    font-weight: bolder;
}


.menu-items ul{
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}

.menu-items ul li a:hover{
    color: var(--red-secondary);
    transition: .7s;
}

li a {
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
    padding: 5px 5px 5px 5px;
}

/*---------------------------------------------------------*/

/* Welcome section*/
.welcome-section{
    margin: auto;
    margin-top: 2rem;
    padding-top: 5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.blink {
    border-left: 4px solid var(--teal);
    height: 25px;
    animation: blink 1s infinite;
}
  
@keyframes blink {
    0% {
      opacity:1;
    }
    100%{
        color: var(--dark-blue);
        opacity: 0;
    }
}  

.wel-cont{
    z-index: -1;
}

.wel-cont h1 {
    font-size: 35px;
    color: var(--red);
}

.wel-cont-txt {
    font-size: 28px;
}

.wel-cont img{
    max-width: 250px;
    min-width: 115px;
    width: 100%;
    height: auto;
    border-radius: 100%;
    border-style: solid;
}

/*---------------------------------------------------------*/


/* CV section*/

.cv-section{
    margin-top: 2rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.cv-button {
    color: var(--white);
    background-color: var(--red-secondary);
    border-color: var(--red-secondary);
    border-radius: 3%;
    transition: .7s;
    padding: 6px 8px;
    cursor:pointer;
   
}

.cv-button:hover {
    color: var(--dark-blue);
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 5%;
}


.cv-button a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}


.cv-button a:hover {
    color: var(--red-secondary);
}

/*---------------------------------------------------------*/


/* Project section*/

.project-section{
    margin-top: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.projects{
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0px 15px 0px 15px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:50%  50%;
    gap: .3rem;
    font-weight: lighter;
}

.projects div{
    margin-bottom: 1rem;
    gap: 1px;
}

.repo-img{
    max-width: 340px;
    max-height: 350px;
    width: 100%;
    height: auto;
}

.repo-link{
    position: inherit;
    color: var(--white);
    background-color: var(--red-secondary);
    border-radius: 3%;
    transition: .7s;
    padding: 6px 8px;
    cursor:pointer;
}

.repo-link:hover{
    color: var(--red-secondary);
    background-color: var(--white);
}

/*---------------------------------------------------------*/

/* Contact section*/

.contact-section{
    margin-top: 2rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 15px;;
    font-weight: bolder;
}

.ct-link{
    display: flex;
    gap: 2rem;
    flex-flow: row;
    font-size: 30px;
}

.ct-link :hover{
    transition: .5s;
}

.fa{
    color:var(--red-secondary)
}

.fa:hover{
    color:var(--white)
}

/*---------------------------------------------------------*/

.footer{
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: .7rem;
    margin-top: .7rem;
}


@media all and (max-width: 750px) {
    
    /* For mobile phones */

    /*Nav*/
    html{
        max-width: 100%;
    }
  
    body{
        max-width:85%;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position:fixed;
        top: 0rem;
        margin-top: 0px;
        width: 85%;
        max-width: 100%;
        align-items: center;
        background-color: var(--dark-blue);
    }


    .menu-items{  
        position: absolute;
        width: 35%;
        top: 60px;
        right: .5rem;
        text-align: center;
        background-color: var(--red-secondary);
        z-index: 1;
    }

    .logo {
        font-size: 1.7rem;
    }

    .fa.fa-bars{
        display:block;
        font-size: 1.7rem;
    }

    .menu-items ul {
        display: none;
        font-size: .5rem;
        padding-left: 0px;
    }

    .menu-items ul li {
        padding: 0.3rem;
    }

    .menu-items.active ul{
        display: block;
    }

    .menu-items ul li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu-items ul li a:hover{
        color: var(--dark-blue);
        transition: .7s;
    }

    
/*---------------------------------------------------------*/

/* Welcome section*/

.welcome-section{
    flex-direction: column;
    flex-basis: 100%;
}

.wel-cont h1 {
    font-size: 1.7rem;
    display: flex;
    align-items:center;
    justify-content:center;
}

.wel-cont-txt {
    font-size: 1.1rem;
}

.img{
    display:flex;
    justify-content: center;
    width: 10px;
    z-index: -1;
    margin-top: 20px;
}

/*---------------------------------------------------------*/

/* CV section*/
.cv-button {
    padding: 6px 8px;
   
}


.cv-button a {
    font-size: 0.8rem;
}

/*---------------------------------------------------------*/

/* Project section*/
.project-section{
    font-size: .7rem;
}

.projects{
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:100%;
    gap: 1.5rem;
    font-size: .8rem;
}

.repo-img{
    max-width: 230px;
    max-height: 230px;
}


/*---------------------------------------------------------*/

/* Contact section*/
.contact-section{
    font-size: .7rem;
}

.ct-link{
    font-size: 22px;
}

.footer{
    font-size: .5rem;
}

/*---------------------------------------------------------*/
}