:root {
    /*Color variables*/
    --navy-blue: #004369;
    --red: #DB1F48;
    --teal: #01949A;
    --sandy-dollar: #E5DDC8;
    --white: #ffffff;
}

*{
    /*Reset page configs*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    background-color: var(--navy-blue);
    color: var(--white);
    overflow: hidden;
    max-width: 65%;
    justify-content: center;
    margin: auto;
}

.fa.fa-bars{
    display: none;
}

.nav-items{
    max-width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: bold;
}


.menu-items ul{
    display: flex; 
    gap: 1rem; 
    align-items: center;
    justify-content: center;
    color: inherit;
}

li a {
    color: var(--white);
    font-weight: bold;
}



@media all and (max-width: 740px) {
    
    /* For mobile phones */
    *{
      width: 100%;
    }

    .menu-items{  
        position: absolute;
        width: 50%;
        top: 60px;
        right: 0rem;
        text-align: center;
        background-color: var(--teal);
    }

    .logo {
        font-size: 1.2rem;
    }

    .fa.fa-bars{
        display:flex;
        flex-direction: row-reverse;
        font-size: 1.8rem;
    }

    .menu-items ul {
        display: none;
        font-size: .9rem;
    }

    .menu-items ul li {
        padding: 1rem;
    }

    .menu-items.active ul{
        display: block;
    }
}