/*Reset page configs*/

*{
    margin: 0;
    padding: 0;
}

/*Color variables*/
:root {
    --navy-blue: #004369;
    --red: #DB1F48;
    --teal: #01949A;
    --sandy-dollar: #E5DDC8;
    --white: #ffffff;
}


body{
    background-color: var(--navy-blue);
    color: var(--white);
    padding-left: 20rem;
    padding-right: 20rem;
}

.nav-items{
    max-width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: column;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--red)
}

ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  color: inherit;
}

ul li {
    margin-left: 1rem;
}

li a {
    color: var(--white);
    text-decoration: none;
}


